
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');


*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

h1{

	color: rgb(48,23,93);
	font-size: 4em;
	font-weight: 400;
}

h2{

	color: rgb(48,23,93);
	margin-bottom: 20px;
}

h3{

	font-weight: bold;
	margin-bottom: 10px;
}

p{

	line-height: 1.4em;
}



header{

	width: 100%;
	height: auto;
	position: fixed;
	top:0;
	background: rgba(41,3,71,1);
	background: -moz-linear-gradient(top, rgba(41,3,71,1) 0%, rgba(41,3,71,1) 2%, rgba(41,3,71,0.49) 52%, rgba(41,3,71,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,3,71,1)), color-stop(2%, rgba(41,3,71,1)), color-stop(52%, rgba(41,3,71,0.49)), color-stop(100%, rgba(41,3,71,0)));
	background: -webkit-linear-gradient(top, rgba(41,3,71,1) 0%, rgba(41,3,71,1) 2%, rgba(41,3,71,0.49) 52%, rgba(41,3,71,0) 100%);
	background: -o-linear-gradient(top, rgba(41,3,71,1) 0%, rgba(41,3,71,1) 2%, rgba(41,3,71,0.49) 52%, rgba(41,3,71,0) 100%);
	background: -ms-linear-gradient(top, rgba(41,3,71,1) 0%, rgba(41,3,71,1) 2%, rgba(41,3,71,0.49) 52%, rgba(41,3,71,0) 100%);
	background: linear-gradient(to bottom, rgba(41,3,71,1) 0%, rgba(41,3,71,1) 2%, rgba(41,3,71,0.49) 52%, rgba(41,3,71,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#290347', endColorstr='#290347', GradientType=0 );
}

header .col-5{

	padding: 0; /*gutter*/
}

header .col-9{

	float: right;

}

header .row:before, .row:after{

	margin: 0;
}



.logo{

	/*width: 8%;
	height: auto;
	display: inline-block;*/

}

.logo img{

	width: 100%;
	height: auto;
}

nav {
    
	color: white;
	letter-spacing: 0.05em;
	text-align: right;
	margin-top: 3%;
}


ul{

	list-style: none;

}


li{

	display: inline-block;
	margin-left: 7%;
}

li:hover {

	color: 	#7FFFD4;
	cursor: pointer;

}

.banner{

	width: 100%;
	height: 250px;
	background-image: url("../img/banner.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: right;
	border: 1px solid #7FFFD4;
}

.banner h1{

	margin-top: 30%;
}


button{
	
	margin-top: 20px;
	padding: 10px;
	color: white;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	background-color: rgb(48,23,93);
	border-style: none;
}



button:hover{
	
	background-color: #7FFFD4;
	color:rgb(48,23,93);	
}


.info{

	background-color: white;
}

.service{
	 
	padding: 0;
	border: 1px solid #7FFFD4;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 15px;

}

.service:first-child{
	 
	margin-left: 0;
}


.service p{
	 
	padding: 0 20px;
}

.service h2{
	 
	padding: 20px;
	margin-bottom: 0;
}


.service button{
	 
	margin: 20px; 
	
}

.service img{

    width: 100%;
    height: auto;
    margin: 0;
}


footer{
     
     background-color:rgb(48,23,93);
     color: white;
     padding: 3% 0;
     text-align: center;
     margin-top: 4%;

}



@media (max-width: 1199px) and (min-width: 992px){

	h1{

	font-size: 3.5em;
	
   }
     
    .service{
	 
    margin-left: 40px;

}
	

}

